#app_title {
    height: 32px;
    z-index: 3001;
    flex-shrink: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background-color: rgb(32, 34, 37);
    position: absolute;
    right: 0;
    left: 0;
}

#app_close {
    user-select: none;
    line-height: 1;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: 0;
    padding: 10px;
    background-color: rgb(240, 71, 71);
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body {
    position: absolute;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    width: 100%;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 300;
    font-style: inherit;
    font-family: "Roboto";
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    user-select: none;
    background-color: rgb(54, 57, 63);
    color: rgb(255, 255, 255);
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0 10px;
    background-color: inherit;
    font-family: inherit;
    height: 32px;
    margin: 0;
}

.winactive .dropbtn {
    color: rgb(155, 155, 155);
}

.dropdown:hover .dropbtn {
    background-color: rgba(79, 84, 92, 0.16);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mos .hide-mos {
    display: none !important;
}

#title {
    overflow: hidden;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    outline: 0;
}

.winactive #app_title {
    color: rgb(155, 155, 155);
}
