body{
  --app-bar-height: 100px;
  --app-bar-font: 2.5em;
}
#app_title {
  font-size: var(--app-bar-font);
    height: var(--app-bar-height);
    z-index: 3001;
    flex-shrink: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    background-color: rgb(32, 34, 37);
    position: absolute;
    right: 0;
    left: 0;
}

#app_close, #app_back {
    user-select: none;
    line-height: 1;
    outline: 0;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

#app_close {
  background-color: rgb(240, 71, 71);
  color: rgb(255, 255, 255);
}

#app_back {
  background-color: rgb(54, 57, 63);
  color: rgb(255, 255, 255);
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
   cursor: none;
    position: absolute;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    width: 100%;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 300;
    font-style: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    user-select: none;
    background-color: rgb(54, 57, 63);
    color: rgb(255, 255, 255);
    /*cursor: none;*/
}
* {
    outline: 0;
}

#content {
  top: var(--app-bar-height);
  bottom: 0;
  left:0;
  right:0;
  position: absolute;
}

#albums, #titles {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.album {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px;
}

.albumPicture {
  width: 100%;
}

.albumName {
  align-self: center;
  margin-top: 3px;
  font-size: 2em;
}

img {
  pointer-events: none;
}
::-webkit-scrollbar {
    display: none;
}
#titleAlbum {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#titlePlayPause {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#titles{
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

#title{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #000;
}

.title {
  padding: 10px;
  width: 100%;
  font-size: 2em;
}

.title-current {
  background-color: #000;
}

#play, #pause, #repeat, #no-repeat {
  width: 40px;
  height: 40px;
    color: white;
}

.repeat-svg {
  transform: rotate(-45deg);
}

#shutdownImg {
  z-index: 9999;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
